{% load static %}

<div class="col-lg-3 col-md-4">
    <div class="profile">
        <div class="profile-name">
            <span class="name">ВАЛЕНТИНА ДИЯНОВА</span><br>
            <span class="job">Учитель химии высшей категории</span>
        </div>
        <figure class="profile-image">
            <img src="{% static 'images/profile.jpg' %}" alt="">
        </figure>
        <ul class="profile-information">
            <li></li>
            <li><p><span>Имя:</span> Валентина Коровкина</p></li>
            <li><p><span>Профессия:</span> Преподаватель</p></li>
            <li><p><span>Email:</span> diyanovavalentina@mail.ru</p></li>
        </ul>
        <!-- <div class="col-md-12">
            <button class="site-btn icon">Скачать резюме <i class="fa fa-download" aria-hidden="true"></i></button>
        </div> -->
    </div>
</div>
