{% extends "base.html" %}
{% load static %}
{% block content %}
  <!-- Home Page
================================================== -->
  <div id="home">
    <!-- Text Section -->
    <div class="row">
      <section class="about-me col-md-12 padding_30 padbot_45">
        <div class="section-title">
          <h2>{{ test.name }}</h2>
        </div>
        <p class="top_30">{{ test.text|safe }}</p>
        <form method="POST">
            {% csrf_token %}
            
            {% for question in test.get_questions %}
                <div class="row">
                    <div class="col-md-12">
                        <div>{{ question.name }}</div>
                    </div>
                    <div class="col-md-6">
                        <div>{{ question.text }}</div>
                    </div>
                    <div class="col-md-6">
                        <textarea id="{{ question.id }}"></textarea>
                    </div>
                </div>
                <hr>
            {% endfor %}
                
            <button class="site-btn black icon">отправить<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </form>
      </section>
    </div>
    <div id="react"></div>
  </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'js/react/dist/bundle.js' %}"></script>
{% endblock scripts %}
    