{% extends "base.html" %}
{% load static %}
{% block content %}
  <!-- Home Page
================================================== -->
  <div id="home">
    <!-- Text Section -->
    <div class="row">
      <section class="slogan line col-md-12 padding_30">
        <p>"Основы химии - любимое моё дитя. В них мой образ, мой опыт педагога и мои задушевные мысли."</p>
        <p class="mendeleev">Дмитрий Менделеев</p>
      </section>
    </div>
    <div class="row">
      <section class="about-me col-md-6 padding_30 padbot_45">
        <i class="fas fa-comments"></i>
        <div class="section-title">
          <h2>{{ about.name }}</h2>
        </div>
        <p class="top_30">{{ about.text|safe }}</p>
      </section>
      <section class="about-me col-md-6 padding_30 padbot_45">
        <i class="fas fa-comment"></i>
        <div class="section-title">
          <h2>{{ forAll.name }}</h2>
        </div>
        <p class="top_30">{{ forAll.text|safe }}</p>
      </section>
    </div>

    {#        {% for article in articles %}#}
    {#          {% include "core/common/article.html" with article=article only %}#}
    {#        {% endfor %}#}

    <!-- My Services Section -->
    <div class="row">
      <section class="services line graybg col-md-12 padding_50 padbot_50">
        <div class="section-title bottom_45">
          <h2>Виды подготовки</h2></div>
        <div class="row">

          {% for service in services %}
            <!-- a service -->
            <a href="{{ service.get_absolute_url }}">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="service">
                <div class="icon">
                  {{ service.icon|safe }}
                </div>
                <span class="title">{{ service.name }}</span>
                <p class="little-text">{{ service.preText }}</p>
              </div>
            </div>
            </a>
          {% endfor %}

        </div>
      </section>
    </div>
    <!-- Upcoming Events Section -->
    <div class="row">
      <section class="events col-md-12 padding_30">
        <div class="section-title top_30 bottom_45">
          <h2>События</h2>
        </div>
        <ul>
          {% for event in events %}
            <li>
              {% include "core/common/list_item.html" with item=event only %}
              <hr>
            </li>
          {% endfor %}
        </ul>
      </section>
    </div>
  </div>
{% endblock %}